.header {

    background-color: $white;

    nav {
        padding: 1.0625rem 1.5rem;
    }

    &__logo {

        img {
            width: 8.8125rem;
            height: 1.375rem;
            margin-top: 9px;
        }

    }

    &__menu { // Mobile menu

        > span {
            display: block;
            width: 26px;
            height:2px;
            background-color: $mainDark;
            transform-origin: 3px 1px;
            transition: all 150ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        &.open {
            > span:first-child {
                transform: rotate(45deg);
                
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
                
            }
        }

    } 

    &__links {
        a {
            position: relative;
            font-size: $fontSml;
            transition: all 0.3s ease;
        
            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -28px;
                background: linear-gradient(to right, $firstGradient, $secGradient);
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            
            &:hover {
                color: $mainDark;

                &::before {
                    opacity: 1;
                }
              
            }

        }
        
    }
}