// Primary colors
$mainDark: hsl(233, 26%, 24%);
$firstGradient: hsl(136, 65%, 51%);
$secGradient: hsl(192, 70%, 51%);

// Neutral colors
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayish: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// font sizes
$fontSml: 0.825rem; //14px
$fontMed: 1.125rem; //18px
